/* ESTILOS GERAIS*/
body,
figure,
img,
div,
header,
nav,
main,
ul,
li,
a,
p,
section,
article,
h1,
h2,
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

figcaption {
  display: none;
}

img {
  max-width: 1200px;
}

body {
  background-color: #141414;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff #141414;

}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #141414;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ESTILOS GERAIS*/

/* ESTILO DO CABEÇALHO*/
.cabecalho {
  background-color: #141414;
  padding: 16px 0;
  margin-top: 20px;
}

/*ESTILO DO LOGO*/

.cabecalho .cabecalho__logo {
  text-align: center;
}

.cabecalho .cabecalho__logo img {
  width: 143px;
  height: 39px;
  margin-right: 10px;
}

/*ESTILO DO MENU*/
.cabecalho .cabecalho__menu,
.cabecalho .cabecalho__menuConfiguracao {
  display: none;
}

/*ESTILO SEÇÃO DESTAQUE */
.secaoDestaque {
  background-image: url('../assets/mainthumb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  padding: 30px 20px 22px;
}

.secaoDestaque .secaoDestaque__imagemDestaque {
  display: none;
}

.secaoDestaque .secaoDestaque__imagemDestaque img {
  width: 100%;
}

.secaoDestaque .secaoDestaque__descricaoDestaque {
  color: white;
}

.secaoDestaque .secaoDestaque__descricaoDestaque h1 {
  width: 100%;
  font-size: 32px;
  margin-left: 15px;
  font-weight: bold;
  font-family: 'Caveat', cursive;

  @include d(s) {
    margin-left: 0px;
  }
}

.secaoDestaque .secaoDestaque__descricaoDestaque p {
  margin: 10px 0;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: 400;
  padding: 4px 15px;

  @include d(s) {
    padding: 4px 0px;
  }
}

.secaoDestaque .secaoDestaque__navegacaoDestaque a {
  font-size: 0.8rem;
  background-color: white;
  color: black;
  padding: 6px 15px;
  border-radius: 3px;
  display: inline-block;
  font-weight: 500;
}

.secaoDestaque .secaoDestaque__navegacaoDestaque a.secaoDestaque__navegacaoDestaque--transparente {
  color: #fff;
  background-color: rgb(255 255 255 / 30%);
  margin-left: 5px;
}

.secaoDestaque .secaoDestaque__navegacaoDestaque a img {
  display: none;
}

/*ESTILO SEÇÃO FIMLES */
.secaoFilmes {
  color: #E5E5E5;
  padding: 0 20px;
  overflow-x: hidden;
  margin-top: 20px;
}

.secaoFilmes h2 {
  font-size: 1.1rem;
}

.secaoFilmes .secaoFilmes__listaFilmes {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 10px;
}

.secaoFilmes .secaoFilmes__listaFilmes img {
  width: 260px;
  height: 160px;
  object-fit: cover;
}

.secaoFilmes .secaoFilmes__listaFilmes li {
  margin-right: 10px;
}

/*ESTILO RODAPÉ */
.rodape {
  padding: 0 20px;
  margin-top: 30px;
  color: #808080;
}

.rodape .rodape__midiasSociais ul {
  display: flex;
}

.rodape .rodape__midiasSociais ul li {
  margin-right: 8px;
}

.rodape .rodape__menuNavegacao {
  margin: 16px 0;
}

.rodape .rodape__menuNavegacao ul {
  margin-bottom: 10px;
}

.rodape .rodape__menuNavegacao ul li a {
  color: #808080;
}

.rodape .rodape__linkCodigo {
  color: #808080;
  border: 1px solid #808080;
  padding: 9px 15px;
  display: inline-block;
  margin-bottom: 20px;
}


@media screen and (min-width: 620px) {
  .secaoDestaque {
    padding: 100px 20px 42px;
  }

  .secaoDestaque .secaoDestaque__descricaoDestaque h1 img {
    max-width: 320px;
  }

  .secaoDestaque .secaoDestaque__descricaoDestaque {
    max-width: 380px;
  }

  .rodape .rodape__menuNavegacao {
    display: flex;
    justify-content: space-between;
  }

  .rodape .rodape__menuNavegacao ul li {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 991px) {
  .cabecalho .cabecalho__menuConfiguracao ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cabecalho .cabecalho__menuConfiguracao li {
    margin: 0 10px;
  }

  .secaoDestaque {
    padding: 150px 30px 60px;
    height: 780px;
  }

  .secaoDestaque .secaoDestaque__descricaoDestaque {
    max-width: 400px;
    background-color: #ffffff4d;
    color: #fff;
    padding: 10px 10px;
    border-radius: 3px;
    margin-bottom: 20px;


  }

  .secaoDestaque .secaoDestaque__descricaoDestaque h1 img {
    max-width: 410px;
  }

  .secaoDestaque .secaoDestaque__descricaoDestaque p {
    margin: 14px 0 22px;
    font-size: 1.3rem;
  }

  .secaoDestaque .secaoDestaque__navegacaoDestaque a {
    font-size: 1rem;
    padding: 10px 28px;
    height: 52px;
    line-height: 35px;
  }

  .secaoDestaque .secaoDestaque__navegacaoDestaque a img {
    vertical-align: middle;
    margin-right: 16px;
    display: inline-block;
  }

  .secaoFilmes h2 {
    font-size: 1.7rem;
  }

  .secaoFilmes {
    padding: 0 30px;
    transform: translateY(-213px);
    margin-bottom: 40px;
  }

  .rodape {
    padding: 0 30px 30px;
  }

  .cabecalho .cabecalho__menu,
  .cabecalho .cabecalho__menuConfiguracao {
    display: block;
  }

  .cabecalho {
    background-color: #141414;
    padding: 20px 0;
  }

  .cabecalho .container {
    display: flex;
  }

  .cabecalho .cabecalho__logo {
    text-align: center;
    margin-right: 20px;
  }

  .cabecalho .cabecalho__menu,
  .cabecalho .cabecalho__menuConfiguracao {
    display: block;
  }

  .cabecalho .cabecalho__menu {
    flex-grow: 2;
    align-items: center;
    display: flex;
  }

  .cabecalho .cabecalho__menu li {
    display: inline-block;
    margin-right: 15px;
  }

  .cabecalho .cabecalho__menu a {
    color: white;
    font-size: 0.9rem;
  }

  .cabecalho .cabecalho__menuConfiguracao li {
    display: inline-block;
  }

  .cabecalho .cabecalho__menuConfiguracao a {
    color: white;
  }
}








.header {
  background-color: $cor-primaria;
  padding: 20px 0px;
  width: 100%;

  &__container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  #navMenu {
    margin-left: 10px;
  }

  #navMenu>span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #fff;
  }

  #navMenu>span:not(:last-child) {
    margin-bottom: 7px;
  }

  #navMenu,
  #navMenu>span {
    transition: all .4s ease-in-out;
  }

  #navMenu.active {
    transition-delay: 0.8s;
  }

  #navMenu.active>span:nth-child(2) {
    width: 0;
  }

  #navMenu.active>span:nth-child(1),
  #navMenu.active>span:nth-child(3) {
    transition-delay: .4s;
  }

  #navMenu.active>span:nth-child(1) {
    transform: translateY(9px);
  }

  #navMenu.active>span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }

  &__mobile {
    position: relative;
  }

  &__nav {
    display: none;
    left: -100vh;
    top: 100%;
    transition: .4s all ease-in-out;


    &.ativo {
      z-index: 998;
      display: block;
      position: absolute;
      background-color: $cor-primaria;
      height: 100vh;
      width: 200px;
      top: 50px;
      left: 0vh;

      li {
        margin-left: 10px;
        margin-bottom: 20px;

        a {
          color: $titulo-1;
        }
      }
    }
  }
}

.main {
  &__title {
    text-align: center;
    color: $titulo-1;
    font-weight: bold;
    font-size: 32px;
    max-width: 320px;
    width: 100%;
    margin: 40px auto 0;
    padding-bottom: 50px;
  }

  &__iframe {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__filme {
    background-image: url('../assets/thumb-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 20px 22px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;

    @include d(s) {
      max-width: 320px;
    }

    &--desc {
      color: $titulo-1;
      margin-bottom: 10px;
      background-color: rgb(255 255 255 / 30%);
      padding: 4px 15px;
      border-radius: 3px;

    }
  }

  .btn-assistir {
    background-color: white;
    color: black;
    padding: 6px 15px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 500;
  }
}